.site-header {
  color: grey;
  border-top: solid grey 2px;
  border-bottom: solid grey 2px;
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
}



body {
  background: #e0e3f0;
}

/* CSS for profile.html */

.picture-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

/* Tablet view */

@media (min-width : 600px) and (max-width : 768px) {
  .picture-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Phone view */

@media (max-width: 600px) {
