<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  {% load staticfiles %}
  <!-- CSS CUSTOM -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <div class=nav>
      <nav>
        <ul>
        {% if request.user.is_authenticated %}
        <li> <a href="{% url 'create_project'%}">New Project</a></li>
        <li> <a href="{% url 'user_profile' %}">Profile</a></li>
        <li> <a href="{% url 'logout'%}">Logout</a></li>
        <li> <a href="{% url 'categories_list' %}">Categories</a> </li>
        {% else %}
        <li> <a href="{% url 'signup'%}">Sign up</a></li>
        <li> <a href="{%url 'login'%}">Login</a></li>
        <li> <a href="{% url 'categories_list' %}">Categories</a> </li>
        {%endif%}
      </ul>
      </nav class=nav>
  </div>
    <title>Crowdfunder</title>
  </head>
  <header>
    <a href="{% url 'project_page' %}"><h1>Crowd Funder</h1></a>
</div>
    <h2>A Place for Crowds to Fund</h2>


  </header>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
