{% extends 'base.html' %}
{% block content %}



{% if form %}
<form method="post" action="{% url 'profile_create' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit">
</form>
{%endif%}

{% if request.user == profile.user %}
{{title}}
{{profile.first_name}}
<h2>Projects</h2>
<ul>
  {% for project in request.user.projects_owned.all %}
  <li>{{project.name}}</li>
  {%endfor%}
</ul>
<h2>Rewards</h2>
<dl>
  {% for donation in request.user.donations.all %}
  <dt>Project name: {{donation.reward.project.name}}</dt>
  <dd>reward: {{ donation.reward.name }}</dd>
  {%endfor%}
</dl>
{%else%}
{{profile.first_name}}
<h2>Projects</h2>
<ul>
  {% for project in profile.user.projects_owned.all %}
  <li>{{project.name}}</li>
  {%endfor%}
</ul>
<h2>Rewards</h2>
<dl>
  {% for donation in profile.user.donations.all %}
  <dt>Project name: {{donation.reward.project.name}}</dt>
  <dd>reward: {{ donation.reward.name }}</dd>
  {%endfor%}
</dl>
{%endif%}

<h3>Total Donations Made on Crowdfunder: ${{ profile.total_donations }}</h3>

{%endblock%}
