{% extends 'base.html' %}
{% block content %}



{% if form %}
<form method="post" action="{% url 'profile_create' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit">
</form>
{% else %}
{{title}}
{{first_name}}
{%endif%}
<h2>Projects</h2>
<ul>
  {% for project in request.user.projects_owned.all %}
  <li>{{project.name}}</li>
  {%endfor%}
</ul>
<h2>Rewards</h2>
<dl>
  {% for donation in request.user.donations.all %}
  <dt>Project name: {{donation.reward.project.name}}</dt>
  <dd>reward: {{ donation.reward.name }}</dd>
  {%endfor%}
</dl>

<h3>Total Donations Made on Crowdfunder: ${{ profile.total_donations }}</h3>

{%endblock%}
